@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 20px;
}

.logo {
  height: 150px;
  width: auto;
  margin-top: -20px;
}
