@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 350px;
  margin-left: -630px;
  margin-bottom: -400px;
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
}

.header {
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.subheader {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

h1 {
  font-size:48px;
  color: rgb(187, 255, 0);
}

p {
  font-size: 36px;
  color: white;
}

.ul {
  display: flex;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 16px;
  padding-left: 16px;
}

a{
  color: rgb(3, 152, 155);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.logo {
  height: 130px;
  width: auto;
  margin-top: -25px;
  align-items: center;
}



